:host {
	width: 100%;
	height: 100%;
	color: white;
}

section {
	border: 1px solid grey;
	background-color: blueviolet;
	display: flex;
	flex-direction: column;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-evenly;
	flex-flow: row nowrap;
	font-size: 1rem;
	text-align: center;
}

nav {
	visibility: hidden;
	position: absolute;
	display: flex;
	flex-direction: column;
	background-color: darkturquoise;
	width: auto;
	padding: 10px 25px 15px 10px;
	z-index: 1;
	border-radius: 5px;
}

nav::before {
	content: "▲";
	color: darkturquoise;
	position: absolute;
	top: -17px;
	left: 15px;
}

h3 {
	cursor: pointer;
}

nav span {
	margin: 5px;
	cursor: pointer;
}

nav span:hover {
	color: blueviolet;
}

ul li:hover h3 {
	color: darkturquoise;
}

ul li:hover nav {
	visibility: visible;
}

aside {
	background-color: white;
	color: black;
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 5px 10px;
}

@media (max-width: 480px) {
	aside {
		flex-direction: column;
	}
}